@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
    //background-color: rgb(201, 197, 197);
    //background-color: #845EC2;
    //background-color: #BFBBC3;
    //background-color: aliceblue;
    background-color: #F6F9FF;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
