.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8%;
    width: 100%;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.parent {
    display: grid;
    grid-template-columns: 1% 40% repeat(2, 28%) 1%;
    grid-template-rows: 8% 49% 38%;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    height: 100vh;
    overflow-x: hidden;
}

.div1 {
    grid-area: 1 / 1 / 2 / 6;
}

.div2 {
    grid-area: 2 / 2 / 4 / 3;
}

.div3 {
    grid-area: 2 / 3 / 3 / 4;
    border: 5px solid black;
    border-radius: 5%;
    background-color: #F2ECFF;
}

.div4 {
    grid-area: 2 / 4 / 3 / 5;
    max-height: inherit;
}

.div5 {
    grid-area: 3 / 3 / 4 / 5;
}

#state{
    height: 100%;
}