.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8%;
    width: 100%;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}


.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.container {
    height: 350px;
    background-color: #f6f9ff;
}

.data{
    text-align: center;
}

.div1 { 
    grid-area: 1 / 1 / 2 / 9; 
}

.div2 { 
    grid-area: 2 / 1 / 6 / 6; 
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.div3 { 
    grid-area: 6 / 1 / 10 / 6; 
    border: 1px solid rgba(0, 0, 0, 1);
} 

.div4 {
    grid-area: 2 / 6 / 3 / 9;
}

.div5 {
    grid-area: 3 / 6 / 10 / 9;
}